<div class="container">
  {{#bs-navbar as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    <a class="navbar-brand" href="#">Cute things</a>
  </div>
  {{#navbar.content}}
  {{#navbar.nav as |nav|}}
  {{#nav.item}}
  {{#nav.link-to "index"}}Home{{/nav.link-to}}
  {{/nav.item}}
  {{#nav.item}}
  {{#nav.link-to "contact"}}Contact{{/nav.link-to}}
  {{/nav.item}}
  {{#nav.item}}
  {{#nav.link-to "about"}}About{{/nav.link-to}}
  {{/nav.item}}
  {{#nav.item}}
  {{new-post savePost="savePost"}}
  {{/nav.item}}
  {{/navbar.nav}}
  {{/navbar.content}}
  {{/bs-navbar}}
</div>
